.secretSection{
    background-image:url("./../../../public/hi7x6eo2.png");
    background-size: cover;
    background-repeat: no-repeat;
    /* overflow: hidden; */
  

}
.layer{
    /* background-color: rgba(0,0,0,.5); */
    background-image:url("./../../../public/Subtraction1.png");
    background-size: cover;
    background-repeat: no-repeat;
    
    
}
.imgOpacitiy{
   position: relative;
}
.imgOpacitiy__img1{
  position: absolute;
  top: -5px;
  left: 30px;
  transform: scale(1.2);
}
.imgOpacitiy__img2{
    position: absolute;
    top: -10px;
    left: 10px;
    transform: scale(1.2);
  }